<%= report %>
<%#s if report == 'daily' %>
<!-- <table class="table table-bordered table-hover">
  <tr>
   <th>Level</th>
   <th>Normal</th>
   <th>Time</th>>
  </tr>
  <%# @dailyreport.each do |daily| %>
    <tr>
    	<td><%= daily.measured_value %></td>
      <td>110-150</td>
    	<td><%= daily.measured_level %></td>
    </tr>
    <%# end %>
</table> -->
<%# elsif report == 'monthtodate' %>
<!-- <table class="table table-bordered table-hover">
  <tr>
   <th>Level</th>
   <th>Normal</th>
   <th>Time</th>>
  </tr>
  <%# @monthtodatereport.each do |daily| %>
    <tr>
      <td><%= daily.measured_value %></td>
      <td>110-150</td>
      <td><%= daily.measured_level %></td>
    </tr>
  <%# end %>
</table> -->
<%# elsif report == 'monthly' %>
<!-- <table class="table table-bordered table-hover">
  <tr>
   <th>Level</th>
   <th>Normal</th>
   <th>Time</th>>
  </tr>
  <%# @monthlyreport.each do |daily| %>
    <tr>
      <td><%= daily.measured_value %></td>
      <td>110-150</td>
      <td><%= daily.measured_level %></td>
    </tr>
  <%# end %>
</table> -->
<%# end %>
